.nav-top{
    background-color: rgb(52, 52, 192) !important;
    
}
.nav-link{
    color: white !important;
}
.img-car{
    max-height:800px !important;
    text-align: center !important;
}
.logo-img{
    width: 5%;
    padding: 1px;
    border-radius: 10px;
}
.divisao{
    background-color: rgb(52, 52, 192) !important;
    text-align: center !important;
    color: white !important;
    margin-bottom: 5em !important;
}
.carousel-caption{
   background-color: rgba(19, 9, 9, 0.521);
}

footer{
    background-color: rgb(52, 52, 192) !important;
    text-align: center !important;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif !important;
    padding: 10px !important;
}